.searchBox {
  width: 70%;
  text-align: center;
  position: relative;
  left: 15%;
  padding: 10px;

  background-color: white;
}
.home {
  margin-top: 50px;
}
.home ::placeholder {
  background-color: paleturquoise;
}
@media screen and (max-width: 500px) {
  .home {
    margin-top: 250px;
  }
}
@media screen and (max-width: 600px) {
  .product-card {
    margin-left: 60px;
    width: 40%;
  }
}
